
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="card">
            <div class="card-header text-white bg-dark">
                <h3>
                    Tìm kiếm
                </h3>
            </div>
            <div class="card-body row">
                @if (ViewBag.Book != null)
                {
                    if (ViewBag.Book.Count == 0)
                    {
                        <div class="col-md-12 text-center p-3">
                            <h3>Không có cuốn sách nào cả</h3>
                        </div>
                    }
                    else
                    {
                        foreach (var item in ViewBag.Book)
                        {
                            <div class="col-md-6 p-3">
                                <div class="card p-3" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
                                    <a href="~/Home/ViewBook/@item.idBook" class="row">
                                        <img src="@item.img" class="card-img-top book-img col-md-6" alt="...">
                                        <div class="card-body text-dark col-md-6">
                                            <p class="card-text" style="font-size:20px; font-weight: bold;">@item.bookName</p>
                                            <p class="card-text">Tác giả: @item.author</p>
                                            <p class="card-text">
                                                Thể loại:
                                                @if (ViewBag.BookCaterogy != null)
                                                {
                                                    foreach (var bookCaterogy in ViewBag.BookCaterogy)
                                                    {
                                                        if (ViewBag.Caterogy != null)
                                                        {
                                                            foreach (var caterogy in ViewBag.Caterogy)
                                                            {
                                                                if (bookCaterogy.idBook == item.idBook)
                                                                {
                                                                    if (bookCaterogy.idCaterogy == caterogy.idCaterogy)
                                                                    {
                                                                        @bookCaterogy.caterogy @(", ")
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    function mouseOver(x) {
        x.style.background = "#03fafa";
    }
    function mouseOut(x) {
        x.style.background = "#fff";
    }
</script>



