@model WebDoAn2.Models.Book
@{
    ViewBag.Title = "ViewBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mx-auto">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header bg-primary text-light text-center" style="font-size:25px">
                    Thông tin sách
                </div>
                <div class="row no-gutters">
                    <div class="col-md-5 p-1">
                        <img alt="@Model.bookName" class="card-img" src="@Model.img" style="width: 270px; height: 300px;max-width: 100%;" />
                    </div>
                    <div class="col-md-7 row">
                        <div class="card-body">
                            <p class="card-text">Tên sách:  @Html.DisplayFor(model => model.bookName)</p>
                            <p class="card-text">Ngày thêm:  @Html.DisplayFor(model => model.dateAdded)</p>
                            <p class="card-text">Tác giả:  @Html.DisplayFor(model => model.author)</p>
                            <p class="card-text">
                                Thể loại:  @if (ViewBag.BookCaterogy != null)
                                {
                                    foreach (var bookCaterogy in ViewBag.BookCaterogy)
                                    {
                                        if (ViewBag.BookCaterogy != null)
                                        {
                                            foreach (var caterogy in ViewBag.Caterogy)
                                            {
                                                if (bookCaterogy.idBook == Model.idBook)
                                                {
                                                    if (bookCaterogy.idCaterogy == caterogy.idCaterogy)
                                                    {
                                                        @bookCaterogy.caterogy @(", ")
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            </p>
                            <p class="card-text">Tình trạng: @Html.DisplayFor(model => model.status)</p>
                        </div>
                    </div>
                    <p class="card-text">Mô tả: @Html.DisplayFor(model => model.description)</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3 text-center" id="button"><a href="@Url.Action("AddToBorrowList", "BorrowBook", new { sanPhamID = Url.RequestContext.RouteData.Values["id"] })"> <i class="material-icons">menu_book</i>Mượn sách</a></div>
                        <div class="col-md-3 text-center" id="button"><a href="~/ReadOnline/Index/@Model.idBook"> <i class="material-icons">library_books</i>Đọc Online</a></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-primary text-light text-center" style="font-size:25px">
                    Giới thiệu cho bạn
                </div>
                <div class="card-body">
                    @if (ViewBag.randomBooks != null)
                    {
                        <ul style="list-style: none;">
                            @foreach (var item in ViewBag.randomBooks)
                            {
                                <li class="border-bottom">
                                    <a href="~/Home/ViewBook/@item.idBook" class="row text-dark">
                                        <img style="height:150px; width:100px" src="@item.img" class="col-md-5 p-1" alt="...">
                                        <div class="col-md-7 text-center">
                                            <p class="card-text">@item.bookName</p>
                                            <p class="card-text">Tác giả: @item.author</p>
                                            <p class="card-text">
                                                Thể loại:  @if (ViewBag.BookCaterogy != null)
                                                {
                                                    foreach (var bookCaterogy in ViewBag.BookCaterogy)
                                                    {
                                                        if (ViewBag.BookCaterogy != null)
                                                        {
                                                            foreach (var caterogy in ViewBag.Caterogy)
                                                            {
                                                                if (bookCaterogy.idBook == Model.idBook)
                                                                {
                                                                    if (bookCaterogy.idCaterogy == caterogy.idCaterogy)
                                                                    {
                                                                        @bookCaterogy.caterogy @(", ")
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </div>
                <div class="card-footer text-center">
                    <a href="~/Home/BookList">Xem Thêm</a>
</div>
            </div>
        </div>
    </div>
</div>



